<div  class="divTodo">
  <div>
    <h1 class="animated tada">{{title}}</h1>
  </div>
  <hr>
  <div>
    <h3>{{todoTitle}}</h3>
    <div *ngIf="todos.length < 1">
      <p>{{todoEmpty}}</p>
    </div>
    <div>
      <ul class="ulTodo">
        <li *ngFor="let todo of todos">
          <span>
            {{todo.id}}. {{todo.name}} - {{todo.done}}
          </span>
          <span *ngIf="!todo.done">
            <button class="buttonLi" (click)="markAsDone(todo)">CONCLUIR</button>
          </span>
          <span *ngIf="todo.done">
            <button class="buttonLi" (click)="markAsUndone(todo)">REFAZER</button>
          </span>
          <span>
            <button class="buttonLi" (click)="remove(todo)">REMOVER</button>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <form [formGroup]="form">
      <fieldset>
        <label>Tarefa: </label>
        <input type="text" placeholder="Título da tarefa" maxlength="30" formControlName="title"><span> - </span>
        <button class="buttonLi" [disabled]="form.invalid" (click)="add()">SALVAR</button>
        <div>
          <small *ngIf="form.invalid && !form.pristine ">Este campo deve conter entre 5 e 30 caracteres</small>
        </div>
      </fieldset>
    </form>
  </div>
</div>
