/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Monserrat', sans-serif;
  font-weight: 300;
  color: blanchedalmond;
  text-align: center;
  background: #292929;
}

h1 {
  color: white;
}

.divTodo {
  min-height: 20em;
  min-width: 40em;
  align-items: center;
  justify-content: center;
  background: #2b4d69;
  background: linear-gradient(60deg, #2d2b3b 0%, #693950 100%);
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  border-style: solid;
  border-color: brown;
  border-width: 2px;
  box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.39);
}

.formTodo {
  border-style: none;
  padding: 20px;
}

.inputTodo {
  border-style: none;
  padding: 5px;
  border-radius: 2px;
}

.ulTodo {
  text-align: left;
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.liTodo {
  padding: 5px;
  margin: 5px;
  font-size: 1em;
  font-style: normal;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.buttonLi {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 1em;
  float: right;
  opacity: 0.7;
  transition: opacity 1s;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 3px;
}

.buttonLi:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.caution {
  font-size: 1em;
  font-style: italic;
  color: rgb(233, 104, 130);
}

.buttonAddCancel {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 1em;
  opacity: 0.7;
  transition: opacity 1s;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}
