/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Monserrat', sans-serif;
  font-weight: 300;
  color: rgb(236, 223, 226);
  background: #292929;
}

h1 {
  color: white;
}

.divTodo {
  min-height: 360px;
  min-width: 360px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: #2b4d69;
  background: linear-gradient(60deg, #2d2b3b 0%, #5e3046 100%);
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  border-style: solid;
  border-color: rgb(35, 28, 90);
  border-width: 2px;
  box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.39);
}

.inputTodo {
  min-height: 20px;
  min-width: 30em;
  border-style: none;
  padding: 5px;
  border-radius: 4px;
  align-items: left;
}

.ulTodo {
  text-align: left;
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.liTodo {
  padding-bottom: 20px;
  margin: 20px;
  font-size: 1em;
  font-style: normal;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.buttonLi {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 1em;
  float: right;
  opacity: 0.7;
  transition: opacity 0.5s;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
}

.buttonLi:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.caution {
  font-size: 1em;
  font-style: italic;
  width: 80%;
  padding: 5px;
  margin: 10px;
  /* align-items: center;
  justify-content: center; */
  background-color: #ce2222;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.39);
}

.buttonAdd {
  cursor: pointer;
  border: none;
  background-color: #316fa8;
  color: #fff;
  font-size: 1em;
  opacity: 0.8;
  transition: opacity 0.5s;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 14px 0px rgba(27, 27, 27, 0.39);
}

.buttonAdd:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.buttonSave {
  cursor: pointer;
  border: none;
  background-color: #39b639;
  color: #ffffff;
  font-size: 1em;
  opacity: 0.8;
  transition: opacity 0.5s;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 14px 0px rgba(27, 27, 27, 0.39);
}

.buttonSave:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.buttonCancel {
  cursor: pointer;
  border: none;
  background-color: #fff38a;
  color: #000000;
  font-size: 1em;
  opacity: 0.8;
  transition: opacity 0.5s;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 14px 0px rgba(27, 27, 27, 0.39);
}

.buttonCancel:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
